<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <p>Your Id : <%= user.id %>
    </p>
    <h3>Your Email : <%= user.email %>
    </h3>
    <h4>Old Username : <%=user.username %>
    </h4>
    <hr>
    <form method="post" action="/user/<%= user.id %>?_method=PATCH">
        <textarea name="username"><%= user.username %> </textarea>
        <input type="password" name="password" placeholder="Enter the password"> <br>
        <button>Submit</button>
    </form>

</body>

</html>